project_id            = "encoded-source-492312-b0"
region                = "us-central1"
artifact_registry_repo = "snap-import"
api_service_name      = "snap-import-api"
worker_service_name   = "snap-import-worker"
bucket_name           = "encoded-source-492312-b0-snap-staging"
queue_name            = "snap-import-queue"
firestore_database_id = "(default)"
container_image       = "us-central1-docker.pkg.dev/encoded-source-492312-b0/snap-import/app:latest"
alert_notification_email = "your-email@example.com"
